@using FilmsCatalog.Models.ViewModel
@model IndexViewModel


@if (Model.Movies.Count() > 0)
{
    <div class="container d-flex p-2 m-2 text-center">
        @foreach (var obj in Model.Movies)
        {
            <div class="col-lg-3 col-sm-6 mb-2 border p-2 m-2">
                <label asp-for="@obj.Name" class="font-weight-bold"></label>
                <p>@obj.Name</p>
                <img src="@("~/images/" + obj.Poster)" asp-append-version="true" class="img-thumbnail" />

                <label asp-for="@obj.Year_of_release" class="font-weight-bold"></label>
                <p>@obj.Year_of_release.ToShortDateString()</p>

                <label asp-for="@obj.Producer" class="font-weight-bold"></label>
                <p>@obj.Producer</p>

                <a asp-action="Index" asp-route-id="@obj.Id" class="btn btn-primary">Подробнее</a>

            </div>
        }
    </div>
}
else
{
    <p>Фильмы отсутствуют</p>
}


<div class="container fixed-bottom mb-5">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="AllFilms"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="AllFilms"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
        </a>
    }

</div>

